/****** Global ******/

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #7A02F2;
}

header {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 10vh;
    padding: 1%;

    font-size: 3vw;
    font-weight: bold;
    color: white;
}


/**Title**/
.page_title {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8)
}

/**Calculadora**/
.calculator {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    
    width: 23vw;
    height: 55vh;

    background: white;
    border-radius: 7px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.8);
    padding: 1% 0.5% 1% 0.5%;
}

/**Form Div**/
.div_form {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.7%;
    justify-content: center;
    align-items: center;
    right: 1%;
    height: 10%;
    margin-bottom: 2%;
}

/*text*/
.text_form {
    position: relative;
    width: 11.1%;
    right: 1%;

    font-size: 1.22vmax;
}

.score_input {
    position: relative;
    width: 12.3vmax;
}

.submit_button {
    width: fit-content;
    font-size: 0.95vmax;
}

/**Score Storage**/
.storage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 3%;

    width: 92%;
    height: 60%;

    overflow-y: scroll;

    border-width: 0.5px;
    border-style: solid;
    border-color: black;

    padding: 1%;
    margin-bottom: 4%;
}

/**Calculation Div**/
.div_calculate {
    width: 95%;
    height: 19%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40%;
    top: 1%;
}

.calculate_button {
    position: relative;
    width: 23%;
    font-size: 0.94vmax;
    font-weight: 300;
}

.show_average_score_text {
    position: relative;
}

